{% extends  "base.html" %}
{% block content %}
  <section id="contact" class="py-5 my-5">
    <div class="container">
      <div class="text-center mb-4">
        <h2>Contact Us</h2>
        <p class="text-muted">We’d love to hear from you</p>
      </div>

    <div class="d-flex justify-content-center mb-3">
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }} alert-dismissible fade show w-100" style="max-width: 400px;">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>



      <div class="row justify-content-center">
        <div class="col-md-8">
          <form class="shadow p-4 rounded bg-light" method="post">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input type="text" name="name" class="form-control" placeholder="Enter your name">
            </div>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" name="email" class="form-control" placeholder="Enter your email">
            </div>
            <div class="mb-3">
              <label class="form-label">Message</label>
              <textarea class="form-control" name="message" rows="5" placeholder="Enter your message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary w-100">Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}